body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px;
}

h1 {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 10px;
	font-size: 1.75em;
}

.title {
	float: left;
}

.author {
	font-weight: 500;
}

.sidebar {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	right: 0;
	background-color: #e8e8e8;
	color: #666666;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidebar h2, .sidebar p {
	margin: 10px 20px 10px 20px;
	width: 90%;
}

.sidebar ul {
    margin: 10px 20px 10px 10px;
}

#Vis1Chart, #Vis2Chart, #Vis3Chart {
	width: 70%;
}

.vis text {
	font-size: 12px;
}

li {
	padding: 5px 0 5px 0;
}

h2, p {
	margin: 10px 0 10px 0;
	width: 70%;
}

h2 {
	font-size: 1.25em;
}

.vis ul {
    width: 65%;
}

.axis-bottom line {
	stroke: #666666;
}

.axis-bottom path {
	stroke: #ffffff;
}

.axis-left path, .axis-left line {
	stroke: #c6c6c6;
}

.legend {
	color: #000000;
	font-size: 12px;
	z-index: 1;
	position: absolute;
}